name: Build & Deploy UAT Release

permissions: write-all

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "doc/**"
      - ".git/"
      - ".vscode/"

jobs:
  # testAndCoverage:
  #   name: Test
  #   uses: ./.github/workflows/test_with_coverage.yml
  #   secrets: inherit

  gitRelease:
    name: Create git release for UAT app
    runs-on: ubuntu-latest
    outputs:
      new_pubspec_version: "${{ steps.get_new_pubspec_version.outputs.next_pubspec_version }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get latest UAT release
        id: get_latest_uat_release
        uses: "WyriHaximus/github-action-get-previous-tag@v1.4.0"
        with:
          prefix: "v"
          fallback: 1.0.0
      - name: Prepare semantic release configuration
        run: |
          mv .releaserc.uat.json .releaserc.json
      - name: Get next UAT release semver version
        id: semantic_release_info
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Show info new release published
        if: steps.semantic_release_info.outputs.new_release_published == true
        run: |
          echo ${{ steps.semantic_release_info.outputs.new_release_version }}
          echo ${{ steps.semantic_release_info.outputs.new_release_major_version }}
          echo ${{ steps.semantic_release_info.outputs.new_release_minor_version }}
          echo ${{ steps.semantic_release_info.outputs.new_release_patch_version }}
      - name: Calculate complete UAT version for next version
        id: get_new_pubspec_version
        run: |
          last_uat_release=$(echo "${{ steps.get_latest_uat_release.outputs.tag }}" | sed -E "s/(.*)/\1/")
          next_pubspec_version=$(./scripts/semver.sh "$last_uat_release" "${{ steps.semantic_release_info.outputs.new_release_version }}")
          echo "next_pubspec_version=$next_pubspec_version" >> $GITHUB_OUTPUT
      - name: Create new UAT release tag
        uses: rickstaa/action-create-tag@v1.7.2
        with:
          tag: "v${{ steps.get_new_pubspec_version.outputs.next_pubspec_version }}-dev"
          message: "UAT release ${{ steps.get_new_pubspec_version.outputs.next_pubspec_version }}"
          github_token: ${{ secrets.GITHUB_TOKEN }}
